<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cloud Cafe Learning</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<h1>Learning AWS & Spring Boot</h1>

<table>
    <thead>
    <tr>
        <td>exception</td>
        <td>message</td>
        <td>stack trace</td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${exception}"></td>
        <td th:text="${message}"></td>
        <td th:text="${stack}"></td>
    </tr>
    </tbody>
</table>
</table>
</body>
</html>
